* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainpurp: rgb(112, 15, 202);
    --highlight: rgb(193, 128, 255);
}

header {
    display: flex;
    justify-content: space-between;
    margin: 20px 15px;
    font-size: 18px
}
header a {
    text-decoration: none;
    color: var(--mainpurp);
}

main {
    text-align: center;
    display: flex;
    justify-content: center;
}
main div {
    width: 45%;
}
main div h1 {
    padding: 20px 0px;
    font-size: 40px;
}
main div p {
    font-size: 22px;
}
main ul {
    list-style: none;
}

.btnstyling {
    height: 40px;
    background-color: var(--mainpurp) ;
    color: white;
    border-radius: 10px;
    font-size: 18px;
}
.btnstyling:hover {
    background-color: var(--highlight);
}
.startbtn {
    width: 140px;
    margin-top: 20px;
}
.answerbtn {
    margin-bottom: 10px;
    width: 200px;
    text-align: start;
    padding-left: 10px;
}

.response {
    border-top: 1px rgb(119, 119, 119) solid;
    padding-top: 5px;
    padding-left: 5px;
    color: rgb(119, 119, 119);
    margin-top: 15px;
}

.question-container {
    text-align: left;
}

.submit-wrapper {
    display: flex;
    align-items: center;
}
.submit-wrapper input {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
}
.submitbtn {
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
